*{
    box-sizing: border-box;
    margin: auto;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;

}

#input{
    width: 300px;
}
#buttons{
    display: flex;

}